{require_otp_vsn, "18"}.

{port_env, [{"CFLAGS", "$CFLAGS -std=c99 -Wall"}]}.

{port_specs, [{"priv/geohash_int.so", ["c_src/geohash_int.c"]},
              {"priv/geohash_str.so", ["c_src/geohash_str.c"]}]}.

{deps, [
    {eunit_formatters, ".*", {git, "https://github.com/seancribbs/eunit_formatters", {branch, "master"}}}
    ]}.

{eunit_opts, [
     no_tty,  %% This turns off the default output, MUST HAVE
     {report, {eunit_progress, [colored, profile]}} %% Use `profile' to see test timing information
     %% Uses the progress formatter with ANSI-colored output
     ]}.
